@import '../../App.css';


button{
    width: 100%;
    padding: 1rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

@media screen and (min-width: 500px) {
    button:hover{
        cursor: pointer;
        opacity: 0.5;
    }
}