@import '../../App.css';

.lightbox{
    display: none;
}
.lightboxClose{
    display: none;
}

@media screen and (min-width: 1000px) {
    .lightboxClose{
        display: none;
    }
    .lightbox{
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top:0;
        left:0;
        right:0;
        height: 100vh;
        width: 100vw;
    }
    .lightboxs{
        position: relative;
    }
    .close{
        position: fixed;
        top: 10%;
        right: 30%;
    }
    .close:hover{
        cursor: pointer;
    }
    .product{
        object-fit: cover;
        width: 450px;
        height: 440px;
        border-radius: 15px;
    }
    
    .thumbnail{
        display: inline-flex;
        width: 90px;
        border-radius: 15px;
        margin-top: 1.5rem;
    }
    .thumbnail:not(:last-child){
        margin-right: 1.8rem;
    }
    .thumbnail:hover{
        cursor: pointer;
        filter: brightness(150%);
    }
    .active{
        filter: brightness(130%);
        border: 3px solid var(--orange);
    }
    
    .arrows{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 40%;
    }    
    .arrows > img{
        background-color: var(--white);
        border-radius: 50%;
        padding: 0.8rem;
        margin: 0 1rem;
    }
    .arrows > img:hover{
        cursor: pointer;
    }
}